.nav-aside{
    top: 2.5rem;
    bottom: 0rem;
    left: 0;
    width: 200px;
    box-shadow:10px 0px 10px 1px rgb(56 60 86 / 44%) ;
    z-index: 10;
}
.close-side{
    top: 0;
    right: 2px;
}
.nav-aside ul{
    padding-left: 0;
}

.nav-aside li{
    flex: 1;
    border-bottom: .5px solid #eee;
    color: #0d6efd;
}

.nav-aside i{
    margin-right: .5rem;
}

.transform{
    transition: transform .5s ease-in-out;
    transform-origin: 0 0;
}

.scale{
    transform: scale3d(1,1,1);
}
.shrink{
    transform: scale3d(0,1,1);
}