.user-inform{
    box-shadow:0px 0px 5px 0px #777;
    border-radius: 15px;
}

.user-img img{
    width: 100%;
    max-width: 150px;
    max-height: 150px;
}
.favorite{
    margin-bottom: 1rem;
}
.favorite .x{
    position: absolute;
    top: 6px ;
    right:5px ;
}

.favorite .fav-img{
    max-width: 100px;
    max-height: 100px;
}
.fav-details{
    height: 100px;
}

@media only screen and (max-width:400px) {
    .user-inform{
        flex-direction: column;
    }
    .user-inform .user-img  img{
        max-width: 100%;
        width: 350px;
        margin-bottom: .5rem;
    }
}