body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#eee !important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/***************************************************/
/*                     classes                     */
/***************************************************/
/* element */
.Skeleton-container{
  flex:1
}
.Skeleton-container span{
  display: block;
}
li .Skeleton-container{
  min-height:50px;
}
li .Skeleton-container span{
  min-height: 25px;
}

.MainSliders .Skeleton-container span{
  background: inherit;
}

.gray-circle{
  min-width: 35px;
  min-height: 35px;

  border-radius: 50%;
  background: #eee; 
}
.red-circle{
  position: absolute;
  top: -10px;
  right: -6px;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  background: red;
  color: #fff;
  cursor: none;
}
.blue-circle{
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: none;
  outline: none;
  background: #00f;
  z-index: 30;
}

.absolute-footer{
  width:98%;
}
/* position */
.full-center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.pos-left{
  left: .5rem;
}
.pos-right{
  right: .5rem;
}
.bottom{
  bottom:0
}
/* display */
.flex{
  display: flex;
}
/*  size */
.fit-content{
  width: fit-content;
}

/* color */

.green{
  background: #080;
}
.slick-dots li button:before{
  color: #00f;
}
.dark-orange{
  background: rgb(220 53 69);
  color:#fff
}
/* font */
.f{
  font-weight: bold;
  font-family: "Font Awesome 6 Free";
}

/* border */
input,button{
  outline: none;
}
/* align ment */
.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* behavior */
.clicked{
  cursor: pointer;
}
.unClicked{
  pointer-events: none;
  cursor: no-drop;
}
li{
  list-style: none !important;
}
a{
  text-decoration: none !important;
}
.row{
  --bs-gutter-x:0 !important
}
.row > *{
  padding: 0 !important;
}

.mm{
  margin-top: 300px !important;
}
.closed{
  cursor: no-drop;
}
.section{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}